    <div id='cssmenu' class="col-md-12">
      <ul>
        <li class='active has-sub'><a href='#'><span>Caixa</span></a>
          <ul>
            <li><a href='#'  target="_blank"><span>Abrir caixa</span></a></li>
            <li><a href='#'  target="_blank"><span>Caixa</span></a></li>
          </ul>
        </li>
        <li class='active has-sub'><a href='#'><span>Pedido</span></a>
          <ul>
            <li><a href='#'  target="_blank"><span>Pedidos diario</span></a></li>
            <li><a href='#'  target="_blank"><span>Consultar</span></a></li>
          </ul>
        </li>
        <li class='active has-sub'><a href='#'><span>Compra</span></a>
          <ul>
            <li><a href='#'  target="_blank"><span >Compra</span></a></li>
            <li><a href='#'  target="_blank"><span>Pedido de compra</span></a></li>
          </ul>
        </li>
        <li class='active has-sub'><a href='#'><span>Cadastros</span></a>
          <ul>
            <li ><a href='http://localhost:3000/clients/new'  target="_blank"><span>Cliente</span></a></li>
            <li ><a href='http://localhost:3000/fabricantes/new'  target="_blank"><span>Fabricante</span></a></li>
            <li ><a href='http://localhost:3000/fornecedors/new'  target="_blank"><span>Fornecedor</span></a></li>
            <li><a href='http://localhost:3000//funcionarios/new'   target="_blank"><span>Funcionario</span></a></li>
            <li ><a href='http://localhost:3000/clients/new'  target="_blank"><span>Usuário</span></a></li>
            <li ><a href='http://localhost:3000/insumos/new'  target="_blank"><span>Insumo</span></a></li>
            <li ><a href='http://localhost:3000/grupo_estoques/new'  target="_blank"><span>Grupo de estoque</span></a></li>
            <li ><a href='http://localhost:3000/unid_meds/new'  target="_blank"><span>Unidade de medida</span></a></li>
            <li ><a href='http://localhost:3000/'  target="_blank"><span>Formas de Pagamento</span></a></li> 
          </ul>
        </li>
        <li class='active has-sub'><a href='#'><span>Estoque</span></a>
          <ul>
            <li ><a href='http://localhost:3000/estoques/new' target="_blank"><span>Novo produto</span></a></li>
            <li ><a href='#'  target="_blank"><span>Ajustar estoque</span></a></li>
            <li ><a href='http://localhost:3000/estoques' target="_blank"><span>Consultar</span></a></li>
          </ul>
        </li>
        <li class='active has-sub'><a href='#'><span>Financeiro</span></a>
          <ul>
            <li><a href='#'  target="_blank"><span>Contas a pagar</span></a></li>
            <li><a href='#'  target="_blank"><span>Contas a receber</span></a></li>
          </ul>
        </li>
        <li class='last'><a href='#'><span></span></li>
      </ul>
    </div>