    <div id='cssmenu' class="col-md-12">
      <ul>
        <li class='active has-sub'><a href='#'><span>Pedido</span></a>
          <ul>
            <li><a href='#'  target="_blank"><span>Pedidos diario</span></a></li>
            <li><a href='#'  target="_blank"><span>Consultar</span></a></li>
          </ul>
        </li>
        <li class='active has-sub'><a href='#'><span>Cadastros</span></a>
          <ul>
            <li ><a href='http://localhost:3000/clients/new'  target="_blank"><span>Cliente</span></a></li>
          </ul>
        </li>
      <%#<li class='last'><a href='#'><span></span></li>-%>
      </ul>
    </div>